# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
dsenv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE / editor
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Python packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*